name: Build, push to GitHub Container Registry, and deploy
on:
  push:
    branches:
      - main

env:
  DOCKER_SLUG: ghcr.io/ssc-sp/fsdh-pfds-docs

permissions:
  contents: read    # required for actions/checkout
  packages: write   # required to push to GitHub Container Registry (ghcr.io)

jobs:
  deploy:
    runs-on: ubuntu-latest
    name: Build and push
    steps:
    - uses: actions/checkout@ac593985615ec2ede58e132d2e21d2b1cbd6127c # v3.3.0

    - name: Set up QEMU
      uses: docker/setup-qemu-action@v2

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v2

    - name: Log in to GitHub Container Registry
      uses: docker/login-action@v2
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}

    - name: Build and push image to ghcr.io
      uses: docker/build-push-action@v4
      with:
        context: .
        file: Dockerfile
        push: true
        tags: |
          ghcr.io/ssc-sp/fsdh-pfds-docs:latest
          ghcr.io/ssc-sp/fsdh-pfds-docs:${{ github.sha }}
        cache-from: type=registry,ref=ghcr.io/ssc-sp/fsdh-pfds-docs:latest
        cache-to: type=inline
