name: Build, push to GHCR, and deploy
on:
  push:
    branches:
      - main

permissions:
  contents: read
  packages: write

env:
  IMAGE: ghcr.io/${{ github.repository }}

jobs:
  deploy:
    runs-on: ubuntu-latest
    name: Build and push
    steps:
    - uses: actions/checkout@ac593985615ec2ede58e132d2e21d2b1cbd6127c # v3.3.0

    - name: Log in to GHCR
      uses: docker/login-action@v3
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ github.token }}

    - name: Build
      run: |
        docker pull $IMAGE:latest || true
        docker build \
          --cache-from $IMAGE:latest \
          -t $IMAGE:latest \
          -t $IMAGE:${GITHUB_SHA::7} \
          -f Dockerfile .

    - name: Publish
      run: |
        docker push $IMAGE:latest && docker push $IMAGE:${GITHUB_SHA::7}

    - name: Set Docker Tag
      run: echo "DOCKER_TAG=${GITHUB_SHA::7}" >> $GITHUB_ENV
      env:
        GITHUB_SHA: ${{ github.sha }}

    - name: Update images in staging (Helm)
      run: |
        curl -L \
        -X POST \
          -H "Accept: application/vnd.github+json" \
          -H "Authorization: Bearer ${{ secrets.MANIFESTS_WORKFLOW_TOKEN }}" \
          -H "X-GitHub-Api-Version: 2022-11-28" \
          https://api.github.com/repos/cds-snc/notification-manifests/dispatches \
          -d '{"event_type":"update-docker-image","client_payload":{"component":"DOCUMENTATION","docker_tag":"${{ env.DOCKER_TAG }}"}}'

    - name: my-app-install token
      id: notify-pr-bot
      uses: getsentry/action-github-app-token@38a3ce582e170ddfe8789f509597c6944f2292a9 # v1.0.6
      with:
        app_id: ${{ secrets.NOTIFY_PR_BOT_APP_ID }}
        private_key: ${{ secrets.NOTIFY_PR_BOT_PRIVATE_KEY }}

    - uses: cds-snc/notification-pr-bot@main
      env:
        TOKEN: ${{ steps.notify-pr-bot.outputs.token }}

    - name: Generate docker SBOM
      uses: cds-snc/security-tools/.github/actions/generate-sbom@34794baf2af592913bb5b51d8df4f8d0acc49b6f # v3.2.0
      env:
        TRIVY_DB_REPOSITORY: ${{ vars.TRIVY_DB_REPOSITORY }}
      with:
        docker_image: "${{ env.IMAGE }}:latest"
        dockerfile_path: "Dockerfile"
        sbom_name: "notification-documentation"
        token: "${{ secrets.GITHUB_TOKEN }}"

    - name: Notify Slack channel if this job failed
      if: ${{ failure() }}
      run: |
        json='{"text":"<!here> CI is failing in <https://github.com/cds-snc/notification-documentation/actions/runs/'${{ github.run_id }}'|notification-documentation> !"}'
        curl -X POST -H 'Content-type: application/json' --data "$json"  ${{ secrets.SLACK_WEBHOOK }}